<%- include('../partials/header.ejs') -%>


<!-- ********** FLIGHT DETAILS *********** --> 


<h1>Flight Details</h1>
<table>
    <tr class="tableHead">
        <th colspan="3">Departure Date</th>
      </tr>
      <tr class="tableBody">
        <th colspan="3"><%= flight.departs %></th>
        </tr>
  <tr class="tableHead">
    <th>Flight Number</th>
    <th>Airline</th>
    <th>Departure Airport</th>
  </tr>
  <% 
  let d = new Date();
  let n = d.toUTCString();
  let checkDateConv = new Date(n).getTime();
  let dateCheck = new Date(flight.departs).getTime();
  if( dateCheck < checkDateConv){ %> <tr class="tableBodyPast"> <% } else { %>
<tr class="tableBody">
  <% } %>
    <th><%= flight.flightNo %></th>
    <th><%= flight.airline %></th>
    <th><%= flight.airport %></th>
  </tr>
</table>
<hr size="1px">

<!-- ********** TICKETS *********** -->
<% if (tickets.length) { %>
<table>
  <thead>
      <tr><th colspan="3"><h2>Tickets</h2></th></tr>
      <tr class="tableDestHead">
        <th>Del</th>
        <th>Seat Number</th>
        <th>Retail Price</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(function(t) { %>      
      <tr class="tableBody">
        <th class="dataDelete"> 
          <form action="/destinations/<%= t._id %>/<%= flight._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button></form></th>
        <th class="seatDestAirport"><%= t.seat %></th>
          <th><%= t.price %></th>
      </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h2>No Tickets Sold</h2>
<% } %>


<hr size="1px">

<!-- ********** DESTINATION DETAILS *********** --> 


    <% 
    if (flight.destinations.length) {    %>
      <table>
        <thead>
          <tr><th colspan="3"><h2>Destination Airports</h2></th></tr>
            <tr class="tableDestHead">
              <th>Del</th>
              <th>Destination Airport</th>
              <th>Arrival Date</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(d) {
             %>
            <tr class="tableBody">
              <th class="dataDelete"> 
                <form action="/destinations/<%= d._id %>/<%= flight._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button></form></th>
              <th class="seatDestAirport"><%= d.airport %></th>
                <th><%= d.arrival %></th>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h2>No Destinations Added</h2>
    <% }   %>
    <table>
        <tr class="tableAddBody">
          <th class="destinationForm">
            <form action="/flights/<%= flight._id %>/destinations" method="POST">
              <label>Destination Airport</label>
              <%- include('../partials/destselect.ejs') -%>
              <label>Arrival Date</label>
              <input type="datetime-local" name="arrival" value="<%= depDateShow %>"">
              <input type="submit" value="Add Destination">
            </form>

          </th>
          <th>
            <form method="GET" action="/flights/<%= flight._id %>/tickets/new">
              <% if( dateCheck < checkDateConv){ %> <input class="addTicketButtonDisable" disabled type="submit" value="Add Ticket"> <% } else { %>
                <input class="addTicketButton" type="submit" value="Add Ticket">  <% } %>
              </form></th>
              
        </tr>
      </table>




   


<%- include('../partials/footer.ejs') -%>
